In [2]:
import pandas as pd, sqlalchemy, os, json
from pandas import json_normalize
from dotenv import load_dotenv
from pathlib import Path
from requests import request
from sqlalchemy import create_engine
import datetime

In [3]:
load_dotenv(dotenv_path=Path('../../config/football_api.env'))

True

In [4]:
api_key=os.getenv('FOOTBALL_API_KEY')

In [6]:
BASE_URL="https://v3.football.api-sports.io/"
headers = {
    'x-rapidapi-host': "v3.football.api-sports.io",
    'x-rapidapi-key': api_key
}

In [7]:
def get_team_data(inp_team:str):
    res=request(url=BASE_URL+"teams?name="+inp_team,method="GET",headers=headers)
    data=res.json()["response"][0]["team"]
    return data

In [8]:
def get_league_data(inp_league:str):
    res=request(url=BASE_URL+"leagues",method="GET",headers=headers)
    data=res.json()
    for index in range(len(data["response"])):
        if data["response"][index]["league"]["name"]==inp_league:
            return data["response"][index]["league"]

In [9]:
def get_team_statistics(league_id:int, team_id:int, season:str):
    res=request(url=BASE_URL+"teams/statistics?season="+str(season)+"&team="+str(team_id)+"&league="+str(league_id),method="GET",headers=headers)
    data=res.json()
    return data["response"]

In [10]:
def get_team_fixture_results(from_year:int,to_year:int,inp_league:str,inp_team:str):
    cols=[
        'played.home', 'played.away', 'played.total', 'wins.home', 'wins.away',
       'wins.total', 'draws.home', 'draws.away', 'draws.total', 'loses.home',
       'loses.away', 'loses.total',"Year"
    ]
    df=pd.DataFrame(columns=cols)
    league=get_league_data(inp_league)
    team=get_team_data(inp_team)
    league_id=league["id"]
    team_id=team["id"]
    counter=0
    for year in range(from_year,to_year+1):
        statistics=get_team_statistics(league_id=league_id,team_id=team_id,season=year)
        statisitcs_fixtures=statistics["fixtures"]
        statisitcs_fixtures["Year"]=year
        df=pd.concat([df,pd.DataFrame(json_normalize(statisitcs_fixtures))])
        counter+=1
    return df

In [11]:
fixture_results=get_team_fixture_results(from_year=2018,to_year=2022,inp_league="Premier League",inp_team="Chelsea")

In [12]:
fixture_results

,played.home,played.away,played.total,wins.home,wins.away,wins.total,draws.home,draws.away,draws.total,loses.home,loses.away,loses.total,Year
0,19,19,38,12,9,21,6,3,9,1,7,8,2018
0,19,19,38,11,9,20,3,3,6,5,7,12,2019
0,19,19,38,9,10,19,6,4,10,4,5,9,2020
0,19,19,38,9,12,21,7,4,11,3,3,6,2021
0,19,19,38,6,5,11,7,4,11,6,10,16,2022

In [19]:
engine=create_engine("postgresql://airflow:airflow@localhost:5432/soccer_analytics")
engine.connect()

In [20]:
fixture_results.rename(
    columns={
        "played.home":"Played Home",
        "played.away":"Played Away",
        "played.total":"Played Total",
        "wins.home":"Wins Home",
        "wins.away":"Wins Away",
        "wins.total":"Wins Total",
        "draws.home":"Draws Home",
        "draws.away":"Draws Away",
        "draws.total":"Draws Total",
        "loses.home":"Loses Home",
        "loses.away":"Loses Away",
        "loses.total":"Loses Total"
    }
    ,inplace=True
)

In [21]:
fixture_results

,Played Home,Played Away,Played Total,Wins Home,Wins Away,Wins Total,Draws Home,Draws Away,Draws Total,Loses Home,Loses Away,Loses Total,Year
0,19,19,38,12,9,21,6,3,9,1,7,8,2018
0,19,19,38,11,9,20,3,3,6,5,7,12,2019
0,19,19,38,9,10,19,6,4,10,4,5,9,2020
0,19,19,38,9,12,21,7,4,11,3,3,6,2021
0,19,19,38,6,5,11,7,4,11,6,10,16,2022

In [22]:
fixture_results.head(0).to_sql(name="soccer_analytics",con=engine,if_exists="replace")

0

In [23]:
from time import time

In [24]:
year=datetime.date.today().year
month=datetime.date.today().month

In [25]:
fixture_results.to_csv(f"../../data/raw_data/chelsea_fixture_results_{year}_{month}")

In [26]:
# while True:
#     try:
#         ts_start=time()
# #         df=next(df_iter)
#         df=fixture_results
#         df.to_sql(name="soccer_analytics",con=engine,if_exists="append")
#         ts_end=time()

#         print("inserted new chunk.... took %.3f time" % (ts_end-ts_start))
#     except StopIteration:
#         print("completed insertion process")
#         break

fixture_results.to_sql(name="soccer_analytics",con=engine,if_exists="append")

5